################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tryNetCore/.vs/tryNetCore/v15
/tryNetCore/.vs/config
